/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lexend:wght@400&display=swap');


/* Navbar */
.navbar-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 60px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.website-navbar {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 60px;
    background-color: #702963;
    position: sticky;
    top: 0;
    z-index: 1;
}

.app-logo {
   padding: 1px;
   border-radius: 10px;
} 

.nav-user {
    display: none;
} 

.nav-img {
    border-radius: 50%;
}

.nav-btn {
    margin: auto 10px;
    display: none;
}

.lgt-btn {
    margin: auto 10px;
    display: block;
}

.ctc-btn {
    margin: auto 10px auto 0;
    display: none;
}

.app-detail {
    color: #fff;
    font-weight: 700;
}

.app-detail-login {
    font-weight: 700;
}


/* Sidebar */

.sidebar-content {
    border: 2px solid #d9d9d9;
    padding: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    top: 20px;
    width: 100%; /* Adjust the width as needed */
}

.sidebar-item {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin: 0; 
    color:#702963;
    text-align: left;
}

.sidebar-item:hover {
    background-color: white; 
}
  
.sidebar-item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.create-btn-box {
    padding: 15px;
    list-style: none;
}

.create-btn {
    width: 100% !important;
    height: 50px;
    margin: auto;
    padding: 5px !important;
}

.sidebar-image {
    display: none;
}

/* Home */
.main-container {
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.home-search {
    width: 90%;
    margin: auto;
}

.searchlist {
    list-style-type: none;
    text-align: left;
    max-height: 80px !important;
    overflow-y: scroll;
    width: inherit;
    margin: auto;
}

.search-item {
    border: 1px solid #ddd;
}

.search-box {
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #702963;
}

.home-categories-label, .home-recommended-label {
    float: left;
    margin: 10px 10px 0;
    display: inline;
}

.card-box{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
}

.see-btn {
    margin: 20px;
}

/* Login and Register*/

.login-bg{
   /* background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);*/
    background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    min-height: 60vh;
}

.login-container {
    width: 95%;
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 5px;
}

.login-inner-container, .register-inner-container {
    padding: 40px;
}

.details-container {
    width: 100%;
    display: block ;
    padding: 30px;
}

.img-container {
    width: 100%;
    display: none;
    padding: 30px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.phrase{
    margin-top: 30px;
    font-family:'Kalam', cursive;
    font-size:x-large;
}

.reg-phrase {
     margin-top: 30px;
    font-family:'Kalam', cursive;
    font-size: xx-large;
}

.login-form {
    margin: 10px;
}

.inp-label {
    width: 100%;
    margin: 10px auto 5px;
    text-align: left;
}

.inp {
    width: 100%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-btn {
    width: 100%;
    margin: 40px auto 10px;
}

h3 {
    margin-bottom: 20px;
    font-weight: 700;
    color:#702963;
}

.toggle-login {
    margin-top: 5px;
    width: 100%;
}

/* Create Quiz */
.create-container {
    width: 100%;
    display: grid;
    margin: 0;
}


/* Leaderboard */
.quiz-leaderboard {
    width: 80%;
    margin: 20px auto;
}

/* Footer */
.footer-container {
    display:grid;
    width: 100%;
    height: 80px;
    background-color: white;
}

Footer {
    position:sticky;
    margin-bottom: 0;
}

/* Add Question */

.create-quiz-row{
    background-color: whitesmoke;
    margin:0;
}

.quiz-detail, .question-detail{
    width: 100%;
    padding: 20px 20px 10px;
}

.question-list {
    margin-left: -25px;

}

.btn-container {
    margin-bottom: 20px;
    display: flex;
}

.quiz-can-btn {
    padding-left: 20px;
    text-align: left;
    display: block;
    width: 100%;
} 

.quiz-save-btn {
    text-align: right !important;
    padding-right: 20px !important;
    display: block;
}

.add-btn-container{
    width: 100%;
    text-align: center;
}

.btn-add-ques {
    margin-left: -10px;
    width: 90%;
}

.card-quiz-details{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
}

.quiz-details {
    width: 100% !important;
}

.quiz-inp{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.question-list{
    margin-top: 20px;
}

.question-list li{
    list-style: none;
}

.card-question-list{
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: whitesmoke;
    padding: 20px;
}


.question-container, .start-quiz-container{
    padding: 20px;
    text-align: left;
    background-color:#f8f7f7;
}
    
.question-box {
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ques-page {
    width: 100%;
}

.ques-type {
    width: 100%;
}

.img-link {
    width: 100%;
}

.img-file {
    width: 100%;
}

.option-btn {
    width: max-content;
    margin: 10px;
}

.ques-card {
    width: 100%;
}

.option-row{
    padding: 5px;
}

.input-box{
    margin-top: 5px;
    border: 1px solid rgb(208, 205, 205);
    outline: none;
    height: 36px;
    border-radius: 4px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-primary {
    background: #702963;
    border-radius: 5px;
    min-width: 80px;
    border: none;
    margin-left: 5px;
}

.btn-primary:hover {
    background: #7b346e;
}
      
/* New Changes */

.left-col{
    width: 100% !important;
    float: left !important;
    padding: 15px !important;
}

.right-col{
    width: 100% !important;
    padding: 0 15px !important;
    right: 0 !important;
}

.middle-row{
    margin: 0;
    background-color: #702963;
    min-height: 92vh;
    
}

.middle-row > [class^="col-"] {
    padding: 0;
    margin: 0;
}

/* Quiz Category, My Quiz, Quiz History */
.quiz-category {
    margin-bottom: 10px;
}

.start-quiz-container{
    padding: 20px;
    text-align: left;
    background-color:#f8f7f7;
    /* min-height: 80vh; */
}

.start-quiz-box{
    width: 100%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:#702963;
}

.quiz-header{
    /* text-align: center; */
    color: grey;
}

.countdown{
    color: white;
    background-color:#702963;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    margin-top: -2px;
    font-size: large;
    width:80%;
    
}

.overall-countdown{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
    width:20%;
    background-color: #702963;
    color:white; 
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    border-radius: 3px;
}

.question-display{
    font-size: larger;
    margin-bottom: 20px;
    margin-top: 50px;
}

.option-card{
    margin-top: 15px;
    height:50px;
    padding:10px;
    padding-left: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.option-card:hover{
    background-color: whitesmoke;
    
}

.score-box{
    width: 100%;
}

.score-card{
    text-align: center;
    margin-top:40px;
    height:100px;
    padding:30px;
    padding-top: 20px;
    line-height: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: x-large;
    min-height: 140px;
}

.figure{
    font-size: larger;
}

.result-button{
    margin-top: 40px;
}

.quiz-leaderboard{
    background-color: whitesmoke;
    margin:0 ;
    padding:0;
    width:100%;
}

.leaderboard-box{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:#702963;
}

h4{
    color:#702963 !important;
    margin-bottom: 20px;
}

.quiz-img {
    height:178px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; /* Center the image horizontally if needed */
}












/* Start Quiz */

.detail-row {
    width: 100% !important;
}

.title-col, .end-btn-col, .end-test {
    width: 100%;
    text-align: center;
}

.progress-col, .count-col, .score-col, .time-col {
    padding: 15px 0 0 10px;
    font-size: 16px;
}

.progress-col, .count-col { 
    width: 100%;
}

.progress {
    margin-top: 5px;
    width: 75%;
}

.score-col, .time-col {
    width: 50% !important;
}

.time-col {
    text-align: center;
}

.next-btn {
    margin-top: 10px;
}

.attempt-card {
    padding: 20px;
}

.res-page-btn {
    text-align: center;
    margin-top: 20px;
}

.review-btn {
    width: 100%;
    margin-top: 10px;
}

.res-name {
    text-align: center;
    margin-bottom: 20px;
}
 
.res-det {
    text-align: center;
    background-color: rgb(95, 10, 135);
    color: #fff;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}

.score-disp {
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 30px;
    background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    color: #fff;
}

.true-card {
    margin: 20px auto;
    width: 40%;
    padding: 10px;
    text-align: center;
}

.contact-container {
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-col {
    width: 100%;
    margin-top: 20px; 
}

.contact-body {
    background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    color: #fff;
    border-radius: 0 0 5px 5px;
}

.contact-title {
    width: 100%;
    text-align: center;
    font-weight: 900;
}

.contact-name {
    font-weight: 900;
    margin-bottom: 10px;
}

/* MQ - Media Queries */

@media screen and (min-width: 400px) {
    
}

@media screen and (min-width: 480px) {

    .title-col {
        width: 75%;
        text-align: left;
    } 
    
    .end-btn-col {
        width: 25%;
        text-align: right;
    } 
    
    .end-test {
        width: max-content;
    }
    
    .progress-col, .count-col, .score-col, .time-col {
        width: 50% !important;
        padding-left: 20px;
    }

    .progress {
        width: 90%;
    }

    .count-col, .time-col {
        text-align: right;
        padding-right: 15px;
    }
    
    .add-btn-container{
        width: 100%;
        text-align: right;
    }
    
    .btn-add-ques {
        margin-right: 20px !important;
        width: 40%;
    }

    .nav-user {
        display: block;
        float: left;
        color:white;
        margin-right: 20px;
    }

    .nav-btn {
        display: block;
    }

    .login-bg {
        min-height: 75vh;
    }

    .login-container {
        display: flex;
    }

    .login-inner-container, .register-inner-container {
        padding: 60px;
    }

    .details-container {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    

    .review-btn {
        width: max-content;
        margin-right: 10px;
    }

    .progress-col, .count-col, .score-col, .time-col {
        font-size: 18px;
    }

    .start-quiz-box{
        width: 90%;
        padding: 30px;
    }

    .img-link {
        width: 50%;
    }
    
    .img-file {
        width: 50%;
    }
    
    .ques-txt, .ques-score {
        width: 70%;
    }

    .ques-time, .ques-del {
        width: 30%;
    }

    .quiz-detail, .question-detail{
        padding: 40px 40px 10px;
    }

    .sidebar-content {
        height: 90vh;
    }

    .main-container {
        min-height: 90vh;
    }
    
    .left-col{
        width: 25% !important;
        position: fixed;
        padding: 0px 20px !important;
    }

    .right-col {
        width: 75% !important;
        padding: 0px 20px 0 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 770px) {

    .score-box{
        width: 33.33%;
    }

    .contact-col {
        width: 50%;
    }

    .start-quiz-box{
        width: 80%;
        padding: 30px;
    }

    .opt-btn-cont {
        width: 20%;
    }

    .question-box {
        width: 70%;
    }

    .btn-add-ques {
        width: 200px;
    }

    .quiz-detail {
        width: 30%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 70%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .sidebar-image {
        display: block;
        padding: 10%;
        margin: 10px;
        border: none;
    }

    .ctc-btn {
        display: block;
    }

    .login-bg {
        min-height: 90vh;
    }

    .login-container {
        display: flex;
    }

    .login-inner-container, .register-inner-container {
        padding: 80px;
    }

    .details-container {
        width: 50%;
    }

    .img-container {
        width: 50%;
        display: block;
        padding: 15px;
    }

    .img-register {
        margin-top: 80px !important;
    }

    .main-container {
        width: 100%;
        display: inline-block;
        background-color: white;
        min-height: 92vh;
        padding: 30px;
    }

    .quiz-card-body {
        height: 150px !important;
    }

    .filter-btn {
        /* width: max-content;
        margin-right: 20px; */
    }

    .card-quiz-body {
        text-align: left;
    }

    .card-btn {
        margin: 5px;
    }

}

@media screen and (min-width: 1000px) {

    .start-quiz-box{
        width: 70%;
        padding: 50px;
    }

    .question-box {
        width: 50%;
    }

    .quiz-detail {
        width: 25%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 75%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .img-container {
        padding: 30px;
    }

    .img-register {
        margin-top: 40px !important;
    }

    .login-img {
        width: 85%;
    }

    .inp-label {
        width: 350px;
    }
    
    .inp {
        width: 350px;
    }

    .sidebar-image {
        padding: 0;
        margin: 0px;
        border: none;
    }

    .side-img {
        width: 80%;
    }

    .quiz-card-body {
        height: 120px !important;
    }
    
    .form-btn {
        width: 350px;
    }

}

@media screen and (min-width: 1200px) {

    
    .contact-col {
        width: 25%; 
    }
    
    .ques-txt {
        width: 40%;
    }
    
    .ques-time { 
        width: 30%;
    }
    
    .ques-score {
        width: 20%;
    }
    
    .ques-del {
        width: 10%;
    }
    
    .quiz-detail {
        width: 20%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 80%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .details-container {
        width: 40%;
    }

    .img-container {
        width: 60%;
    }

    .login-img {
        width: 75%;
    }
}
